<div class="bg-white w-100 p-4">
    <div class="container m-lg-5">
        <div class="w-100">
            <div class="m-auto col-lg-6 col-12">
                <div class="m-auto text-center text-secondary p-3 my-5">
                    <a class="btn btn-light border-0 p-4 shadow-sm mx-3 text-secondary" href="?category=Article"
                        data-toggle="tooltip" data-placement="top" title="Article"><span
                            class="material-icons pt-1">assignment</span></a>
                    <a class="btn btn-light border-0 p-4 shadow-sm mx-3 text-secondary" href="?category=Case+Brief"
                        data-toggle="tooltip" data-placement="top" title="Case Brief"><span
                            class="material-icons pt-1">dns</span></a>
                    <a class="btn btn-light border-0 p-4 shadow-sm mx-3 text-secondary" href="?category=Case+Comments"
                        data-toggle="tooltip" data-placement="top" title="Case Comments"><span
                            class="material-icons pt-1">description</span></a>
                </div>
                <form method="GET" action="/blogs">
                    <div class="input-group mb-3">
                        <input type="text" name="search" value="<%= search.value %>" id="search-posts"
                            class="form-control rounded-left border-0 bg-light" placeholder="Search title">
                        <div class="input-group-append">
                            <button class="btn bg-light focus-none" type="submit">
                                <span
                                    class="material-icons-outlined text-secondary border-0 rounded-right text-center mt-2">search</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%
            var newData = [];
            if(search.value) {
                for (var i=0; i < data.length; i++) {
                    if(!data[i].includes(search.value)){
                        newData[i] += data[i];
                    }
                }
            } else {
                newData = data
            }
            %>
            <% for(var i=0; i < newData.length; i++) { %>
            <div class="mx-auto col-lg-14 col-12 my-5 mx-4">
                <div class="card w-100 blue-bg text-light shadow border-0">
                    <div class="card-body p-2">
                        <div class="text-left dropdown">
                            <a onclick="handlerDropdown(data._id)" class="btn btn-white text-light p-0 m-0 focus-none"
                                id="dropdown">
                                <span class="material-icons">
                                    hdr_weak
                                </span>
                            </a>
                            <div id=data._id class="dropdown-menu border-0 p-0 shadow bg-white">
                                <a class="dropdown-item p-2 text-secondary p-3 rounded d-flex" href="#"><span
                                        class="material-icons-outlined px-1">
                                        delete_outline
                                    </span>Delete</a>
                                <a class="dropdown-item p-2 text-secondary p-3 rounded d-flex" href="#"><span
                                        class="material-icons-outlined px-1">
                                        create
                                    </span>Edit</a>
                            </div>
                        </div>
                        <div class="h5 card-text text-light py-0 p-3">
                            <div class="card-title h4 text-center text-light w-100"><%= data[i].title%></div>
                            <%= data[i].posts%>
                            <p class="text-right h6 p-2"><i><%= data[i].category%> by <b><%= data[i].name%></b></i></p>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>